@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

$primary: #252525;
$secondary: #ffffff;
$magenta: #c9069b;
$bg-shade: #f7f2fa;
$indigo: #340285;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extraLarge-screen: 1200px;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.95rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border: 2px solid $secondary;
  border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  text-align-last: center;
}
img {
  width: 100%;
}
.my-hr {
  width: 150px;
  height: 4px;
  border: 1px solid $indigo;
  border-radius: 2px;
  color: $indigo;
  margin: 10px auto;
}

@mixin flash {
  animation: flash;
  animation-duration: 1s;
}

@mixin pulse {
  animation: pulse;
  animation-duration: 2s;
}

@mixin box-shadow {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}

.btn {
  background-color: $primary;
  color: $secondary;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  @include box-shadow;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    @include flash;
    color: $secondary;
  }
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

/* SHOWCASE */
.showcase {
  .carousel-item {
    img {
      height: 100vh;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }

    .carousel-caption {
      top: 50%;
      transform: translateY(-22%);
      bottom: initial;

      h1 {
        font-size: 4rem;
        font-weight: 700;

        @media (max-width: $medium-screen) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .sideNav {
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -25rem;
    background-color: $bg-shade;
    z-index: 2;
    -webkit-transition: 0.8s;
    transition: 0.8s;

    li {
      width: 100%;
      margin: 5.5rem auto;
      text-align: center;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
      }

      a {
        color: $indigo;
        font-weight: 500;
      }
    }

    .close-icon {
      position: absolute;
      top: 1rem;
      right: 0.5rem;
      font-size: 2.5rem;
      z-index: 2;
      cursor: pointer;
    }
  }

  .logo-mark {
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    z-index: 2;
    cursor: pointer;
  }

  .toggle-button {
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 2;
    cursor: pointer;

    i {
      color: $secondary;
      font-size: 2.5rem;
      font-weight: 500;
      padding: 5px;
      border: 2px solid $secondary;

      @media (max-width: $small-screen) {
        font-size: 2rem;
      }
    }

    .iColor {
      color: $indigo;
      border-color: $indigo;
    }
  }
}

/* ABOUT */
.about {
  .icon-box {
    width: 60px;
    height: 60px;
    background-color: $magenta;
    color: $secondary;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    flex: none;
  }
}

/* PROJECT */
.projects {
  background-color: $bg-shade;

  .heading-paragraph {
    text-align-last: center;
  }

  .card {
    @include box-shadow;

    &:hover {
      @include pulse;
    }
  }
}

/* ACTION */
.action {
  background-color: $magenta;

  .btn {
    background-color: $secondary;
    color: $magenta;
  }
}

/* PLAN */
.plan {
  .table {
    th {
      background-color: $primary;
    }

    tbody {
      border: 1px solid $primary;

      td {
        font-weight: 500;
      }
    }

    tfoot {
      border: transparent;
      margin-top: 10px;
    }
  }
}

/* BLOG */
.blog {
  background-color: $bg-shade;

  .card {
    background: transparent;
    border: none;

    &:hover {
      @include pulse();
    }
  }
}

/* TESTIMONIAL */
.testimonial {
  .card {
    background: transparent;
    border: none;

    &:hover {
      @include pulse();
    }

    a img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    p {
      text-align-last: center;
    }

    .stars i {
      font-size: 1.3rem;
      color: $indigo;
    }
  }
}

/* CONTACT */
.contact {
  background-color: $bg-shade;

  img {
    height: 20rem;
  }

  form {
    .form-control:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

/* FOOTER */
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/footer-image.jpg);
  background-size: cover;
  color: $secondary;

  p {
    text-align-last: auto;
  }

  .social-icons {
    a {
      color: $secondary;
      font-size: 2rem;
      padding-right: 0.5rem;

      &:hover {
        @include flash();
      }
    }
  }

  .footer-links {
    a {
      display: block;
      color: $secondary;
    }

    p {
      line-height: 1;
    }
  }
}
